.nav > li {
    margin-left: 50px;
    margin-right: 25px;
}

.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
    zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
    text-align:center;
}

#timer {
    margin-bottom: 15px;
    font-size: 25px;
}

#fromMetro, #fromOffice {
    margin-top: 10px;
}

.curTimetable {
    list-style: none;
    height: 63vh;
    overflow-y: scroll;
}

.curTimetable li {
    width: 220px;
    font-family: "Trebuchet MS", "Lucida Sans";
    text-align: center;
    padding: 5px 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    border-left: 10px solid #2d2d2d;
    box-shadow: 2px -2px 5px 0 rgba(0,0,0,.1),
    -2px -2px 5px 0 rgba(0,0,0,.1),
    2px 2px 5px 0 rgba(0,0,0,.1),
    -2px 2px 5px 0 rgba(0,0,0,.1);
    font-size: 20px;
    letter-spacing: 2px;
    transition: 0.3s all linear;
    margin-right: 10px;
}

.curTimetable li.older {
    background-color: #a7a6a6;
    text-decoration: line-through;
}

#placePageMetro, #chedulePage, #placePageTechnopolis {
    display: none;
}

@media only screen and (max-width : 770px) {
    .nav > li {
        margin-left: 15px;
    }
}

.col-time .col-time-content {
    display: inline-block;
}

.tab-page{
    margin-top: 60px;
}

.map {
    width: 100%;
    height: 50vh;
}

.imagePlace{
    width: 100%;
    height: 50vh;
}

.inscription{
    text-align: center;
    font-size: 18px;
    color: #dfd8d1;
}

.column {
    width: 48%;
    background-color: #fff;
}

.metroTechColumn {
    background-color: #333;
}


.timeLine{
    font-family: "Trebuchet MS", "Lucida Sans";
    padding:1px 0px;
    margin-top:3px;
    border-radius: 5px;
    border-left: 5px solid #2d2d2d;
    box-shadow: 2px -2px 5px 0 rgba(0,0,0,.1),
    -2px -2px 5px 0 rgba(0,0,0,.1),
    2px 2px 5px 0 rgba(0,0,0,.1),
    -2px 2px 5px 0 rgba(0,0,0,.1);
    font-size: 20px;
    transition: 0.3s all linear;
}

.timeBox{
    font-size:17px;
    display: inline-block;
    margin-left: 18px;
}

.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}

.btn-default.btn-outline:hover {
    color: #fff8f1;
}

.btn-default.btn-outline:focus{
    outline: none;
}

#toButton{
    margin-top:3px;
    width: 108px;
}

#fromButton{
    margin-top:3px;
    width: 108px;
}

.lang{
    width: 50px;
    height: 30px;
    margin-top:12px;
}
